@charset "UTF-8";
/* CSS Document */

body{
	font-size: 15px;
	background-color: #ffffff;
}

nav *{
	padding: 0;
	margin: 0;
}

nav:hover{
	background-color: #bbbbbb;
}

nav a:link, nav a:visited{
	color: #00000f;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}

nav a:focus{
	text-decoration: line-through;
}

nav a:active{
	color: #ff0000;
}

#content>p{
	font-size: .8em;
	color: #555555;
}

#content h2 + p{
	font-size: 1.1em;
	color: #999999;
	font-weight: bold;
}

img[alt]{
	border: dashed 2px #ffffff;
}

img[alt]:hover{
	border: dashed 2px #ff0000;
	cursor:pointer;
}

